<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="LyricsCore.Impl.MpdPlayer.PollingInterval" value="00:00:00.50"/>
    <add key="LyricsCore.Impl.MpdPlayer.Host" value="mc-20-1.mediaparts"/>
    <add key="WinFormsDisplay.WinFormsDisplay.FontSize" value="16"/>
    <add key="WinFormsDisplay.WinFormsDisplay.FontFace" value="Calibri"/>
  </appSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="LyricsCore.Impl.MpdPlayer">
      <level value="INFO"/>
    </logger>
  </log4net>
</configuration>